<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[NGB.*]*</Include>
          <Exclude>[*.Tests]*,[*.IntegrationTests]*</Exclude>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <SkipAutoProps>false</SkipAutoProps>
          <UseSourceLink>false</UseSourceLink>
          <ExcludeByFile>**/bin/**,**/obj/**</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
