bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
NGB.sln.DotSettings.user

# Build/package outputs
/artifacts/*
!/artifacts/nuget/
!/artifacts/nuget/.gitkeep
!/artifacts/npm/
/artifacts/npm/*
!/artifacts/npm/.gitkeep
*.nupkg
*.snupkg
*.symbols.nupkg
