<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="artifacts/nuget-cache" />
  </config>
  <packageSources>
    <clear />
    <add key="ngb-local" value="artifacts/nuget" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
