# Copy to an ignored local env file. Never put credentials in command-line arguments.
PGHOST=localhost
PGPORT=5433
PGDATABASE=ngb_pm
PGUSER=your_monitoring_user
PGPASSWORD=replace-locally
PGSSLMODE=disable
